body {
  width: 98%;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading Button {
  margin: 20px 0;;
}

.recipe {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 40px 20px;
  border: 1px solid #000;
  box-shadow: 0 0 3px #000;
  padding: 20px;
}

.recipe h1 {
  color: green;
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  width: 500px;
}

input {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(4, 173, 4);
}

input:focus {
  outline: none;
  border-color: green;
  box-shadow: 0px 0px 5px green;
}

.recipe img {
  box-shadow: 0 0 10px green;
  height: 400px;
  width: 400px;
}

.ingredients {
  width: 500px;
  height: 400px;
}

textarea {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}