body {
  width: 95%;
  margin: 0 auto;
  background: #b6b2ab;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading Button {
  margin: 20px 0;
}



.heading Button:active {
  box-shadow: none;
  margin-bottom: 18px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 20px;
  border: 2px solid #ca3232;
  box-shadow: 0 0 5px #ca3232;
  padding: 20px;
  background: #e6e6e6;
}

.recipe h1 {
  color: #ca3232;
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  width: 500px;
}

input {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ca3232;
}

input:focus {
  outline: none;
  border-color: green;
  box-shadow: 0px 0px 5px #ca3232;
}

.recipe img {
  box-shadow: 0 0 15px #000;
  height: 400px;
  width: 400px;
}

.ingredients {
  width: 495px;
  height: 400px;
}

textarea {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  line-height: 30px;
}

textarea:focus {
  outline: none;
}

.info p {
  font-size: 26px;
}

.ingredient-list {
  line-height: 40px;
}