button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  border-radius: 15px;
  margin: 0 5px;
  font-family: "Song Myung", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px green;
}

button:active {
  background: #fff;
  color: green;
  outline: none;
  border: 1px solid green;
}

button:focus {
  outline: none;
}